.sectionCenter {

}

.img {
    position: fixed;
    top: 85px;
    width: 100%;
    height: 100%;
}

.prevBtn {
    position: fixed;
    float: left;
    top: 50%;
    left: 30px;    
}

.nextBtn {
    position: fixed;
    float: right;
    top: 50%;
    right: 50px;
}

.prevBtn:hover,
.nextBtn:hover {
    background: gray;
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}