.image {
    position: fixed;
    top: 37px;
    width: 100%;
    height: 100%;
}

.prev {
    position: fixed;
    float: left;
    top: 50%;
    left: 30px;
}

.next {
    position: fixed;
    float: right;
    top: 50%;
    right: 50px;
}

.text {
    position: fixed;
    width: 100%;
    bottom: 25px;
    text-align: center;
}

article {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: var(--transition);
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}