body {
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    font-size: 17px;
}


.header {
    height: 35px;
    color: white;
}

.navbar {
    display: flex;
    background-color: #75a3a3;
}

.navbar a {
    padding: 6px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.navbar a:first-child {
    font-size: 20px;
    color: orangered;
    text-shadow: 1px 1px #ffff00;
    font-style: italic;
}

.navbar a:hover {
    background-color: #666666;
}

.navBtn {
    background-color: #75a3a3;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    margin: 2px;
    border: 2px solid white;
    border-radius: 50%;
    display: none;
}
.lineOne,
.lineTwo,
.lineThree {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.5s;
}
.navBtn:hover {
    background-color: #666666;
}
.miniNav a{
    display: none;    
}

.langBtn {
    position: absolute;
    top: 7px;
    right: 20px;
}


.contents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.footer {
    height: 35px;
    background-color: #75a3a3;
    color: white;
    text-align: center;
}

.footer p {
    padding-top: 7px;
    font-style: italic;
}

.footer a {
    text-decoration: none;
    color: white;
    font-style: italic;
}

.language {
    position: fixed;
    top: 8px;
    right: 20px;
}

@media screen and (max-width: 700px) {
    .navbar {
        position: fixed;
        width: 100%;
    }
    .contents,
    .navbar,
    .footer {
        flex-direction: column;
    }
    .navbar a:first-child {
        text-align: left;
        
    }
    .navbar a:not(:first-child) {
        display: none;
    }
    .navBtn {
        display: block;
        position: fixed;
    }
    .miniNav a{
        position: relative;
        display: block;
        top: 37px;
        height: 30px;
        width: 100%;
        padding-top: 10px;
        background-color: #75a3a3;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    .miniNav a:hover {
        background-color: #666666;
    }
    .language {
        position: fixed;
        top: 8px;
        right: 80px;
    }
    .langBtn {
        position: fixed;
        right: 80px;
        z-index: 1;
    }
}